
.table {
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  /*table-layout: fixed;*/
  
}

.table td {
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.first_rank_row{
  background: linear-gradient(to top, rgba(240, 171, 46, 0.36), rgba(0, 0, 0, 0.6));
  position: relative;
}
.second_rank_row{
  background: linear-gradient(to top, rgba(90, 192, 236, 0.36), rgba(0, 0, 0, 0.6));
  position: relative;
}

.third_rank_row{
  background: linear-gradient(to top, rgba(240, 69, 46, 0.36), rgba(0, 0, 0, 0.6));
  position: relative;
}

.first_rank_row::after,
.second_rank_row::after,
.third_rank_row::after {
  content: "";
  position: absolute;
  width: 15%;
  left: 0;
  border-right: 0 solid transparent;
  border-bottom: 0 solid transparent;
  height: 50%;
}
.first_rank_row::after {
  border-left: 0.2rem solid #f0ab2e;
  border-top: 0.2rem solid #f0ab2e;
}
.second_rank_row::after {
  border-left: 0.2rem solid rgb(90, 192, 236);
  border-top: 0.2rem solid rgb(90, 192, 236);
}
.third_rank_row::after {
  border-left: 0.2rem solid rgb(240, 69, 46);
  border-top: 0.2rem solid rgb(240, 69, 46);
}

.ranking_number {
  font-weight: 300;
  color:rgb(229, 231, 235);
  opacity: .45;
}

.first_rank_row .ranking_number {
  color: #f0ab2e;
  opacity: 1;
}
.second_rank_row .ranking_number {
  color: rgb(90, 192, 236);
  opacity: 1;
}
.third_rank_row .ranking_number {
  color: rgb(240, 69, 46);
  opacity: 1;
}

