.index_layout {
  background-image: url('./img/DC_classic_background.jpg');
  background-repeat: repeat-y;
  background-size: 100% auto;
  height: 100%; width: 100%;
}

.facts_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 0.1rem;
  justify-items: center;
  align-items: center; 
}

.facts_container {
  border: 1rem solid;
  border-image-source: url('./img/r_gold_pattern.png');
  border-image-repeat: round;
  border-image-slice: 241 237 216 266;
}

.chart_container {
  border: 0.1rem solid white;
}

@media (width < 426px) {
  .facts_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 0.1rem;
    justify-items: center;
    align-items: center; 
  }
}