.index_layout {
  background-image: url('img/DC_classic_background.jpg');
  background-repeat: repeat-y;
  background-size: 100% auto;
  height: 100%; width: 100%;
};

.facts_container {
  border-image-source: url('img/r_gold_pattern.png');
  border-image-repeat: round;
  border-image-slice: 241 237 216 266;
  border: 1rem solid;

}